@font-face {
    font-family: WorkSansRegular;
    src: url(../fonts/WorkSans-Regular.ttf);
  }
  @font-face {
    font-family: WorkSansMedium;
    src: url(../fonts/WorkSans-Medium.ttf);
  }
  @font-face {
      font-family: PlayfairDisplayBold;
      src: url(../fonts/PlayfairDisplay-Bold.ttf)
  }